body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    background: linear-gradient(90deg, rgb(177, 80, 0) 50%, rgb(0, 216, 187) 100%);
  }