body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    background: linear-gradient(90deg, rgb(190, 5, 181) 40%, rgb(184, 181, 179) 60%);
  }