.purchase-interface {
    background: linear-gradient(90deg, rgba(200, 200, 200, 0.25) 0%, rgba(200, 200, 200, 0.25) 100%);
    border-radius: 20px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}